<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>532566746540-rrknuhau56elm54a5v65986p82b0qju9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532566746540-rrknuhau56elm54a5v65986p82b0qju9</string>
	<key>API_KEY</key>
	<string>AIzaSyCxj3WvlPf9dBVXeDNIfAYdh7x4Ss-leto</string>
	<key>GCM_SENDER_ID</key>
	<string>532566746540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.xebia.TrainSubscription</string>
	<key>PROJECT_ID</key>
	<string>votespace-2e76d</string>
	<key>STORAGE_BUCKET</key>
	<string>votespace-2e76d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:532566746540:ios:0e446a454898649b</string>
	<key>DATABASE_URL</key>
	<string>https://votespace-2e76d.firebaseio.com</string>
</dict>
</plist>