<div class="votes-container clearfix">
  <div class="column column-left" [ngStyle]="{'width': percentage + '%'}">
    <span>#ViaBdx</span>
  </div>
  <div class="column column-right" [ngStyle]="{'width': (100-percentage) + '%'}">
    <div class="vs">VS</div>
    <div class="title">
      <span>#ViaLyon</span>
    </div>
  </div>
  <div *ngIf="showResults" class="results">
    <span>{{ percentage | number:numFormat }}%</span>
    <span>{{ (100 - percentage ) | number:numFormat }}%</span>
  </div>
</div>
